.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  position: relative;
  box-sizing: border-box;

  &__left {
    display: flex;
    align-items: center;
  }

  /* Desktop nav */
  &__nav {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__userNav {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  /* Burger */
  &__burger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 16px;

    @include desktop {
      display: none;
    }
  }

  /* Backdrop */
  &__backdrop {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  &__mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 75%;
    height: 100%;
    background: $color-yellow;
    padding: 32px;
    position: relative;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

    @include tablet {
      width: 50%;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__mobileCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__mobileBottom {
    display: flex;
    justify-content: center;

    @include tablet {
      display: none;
    }
  }
};