.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px; 
  position: relative;
  box-sizing: border-box;

  &__left {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    /* Burger button (only mobile) */
    & .header__burger {
      display: block; 
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 16px;

      @include tablet {
        display: none;
      }
    }
  }

  &__backdrop {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;

    @include tablet {
      display: none; 
    }
  }

  &__mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: $color-white;
    padding: 32px;
    position: relative;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

    @include tablet {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }
}