// Breakpoints
$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// Retina detection
$min-retina: 2;

// Fonts
$font-primary: "Monrope", sans-serif;

// Colors (example, can be adjusted)
$color-black: #262626;
$color-yellow: #F6B83D;
$color-yellow-hover: #F9B020;
$color-beige: #FFF4DF;
$color-beige-hover: #FBE7C1;
$color-white: #FFFFFF;