// Main SCSS file that imports variables, mixins, and fonts, and defines global styles
// @import "./variables";
// @import "./mixins";
// @import "./fonts";

// Global styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

main {
  padding: 0 32px 32px 32px;
}

html, body, #root {
  height: 100%;
}