// Main SCSS file that imports variables, mixins, and fonts, and defines global styles
// @import "./variables";
// @import "./mixins";
// @import "./fonts";

// Global styles
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Manrope", sans-serif;
  background: #F9F9F9;
}

main {
  padding: 0 ;
}

html, body, #root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}