.usernav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;

  @include tablet {
    flex-direction: row;
  }

  &__login {
    font-family: $font-primary;
    font-weight: 700; 
    line-height: 20px;
    letter-spacing: -3%;
    color: $color-white;
    background-color: $color-yellow;
    border: 1px solid $color-beige;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 35px;
    width: 100%;
    max-width: 250px;
    text-align: center;

    @include tablet {
      width: auto;
    }

    &:hover{
      background-color: $color-beige;
      color: $color-yellow-hover;
    }
  }

  &__register {
    font-family: $font-primary;
    font-weight: 700; 
    line-height: 20px;
    letter-spacing: -3%;
    color: $color-yellow;
    background-color: $color-beige;
    border: 1px solid $color-beige;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;

    @include tablet {
      width: auto;
    }

    &:hover{
      background-color: $color-beige-hover;
      color: $color-yellow;
    }
  }
}