.newsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 0;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
    gap: 35px;
  }
    
  &__empty {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -3%;
    font-weight: 500;
    color: $color-black;
    text-align: center;
    padding: 40px 0;

    @include tablet {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 14px;
    }
  }
}